# Standard numerical libraries
#numpy
sklearn
scipy
pandas
h5py

# NLP core libraries
gensim==3.7.1
nlpre>=2.0.4
bounter

# Figures out how many cores on machine (for parallel)
psutil

# For loading configuration files
configobj

# For reporting and status bars
tqdm==4.19.9

# Replaces pythons multiprocessing
joblib==1.2.0

# For SMOTE
imbalanced-learn

# To explain variables in predictions
# lime

# For CLI interface
docopt
Fabric3
