pandas
sqlalchemy
unidecode
pyparsing
pattern

gensim

numpy
h5py
scipy

#pyksvd
psutil

# For reporting and status bars
tqdm

# Replaces pythons multiprocessing
joblib==0.9.4

# For locality hashing
nearpy
