# Standard numerical libraries
numpy
scipy
pandas
h5py

# NLP core libraries
unidecode
pyparsing
pattern
gensim

# Figures out how many cores on machine (for parallel)
psutil

# For loading configuration files
configobj

# For reporting and status bars
tqdm

# For plotting
seaborn

# Replaces pythons multiprocessing
joblib==0.9.4

# For locality hashing
nearpy

# For SMOTE
imbalanced-learn

# For CLI interface
docopt
